body {
  background-color: #f3f3f3;
  padding-top: 5em;
  position: relative;
  margin: 0;
  padding-bottom: 12rem;
  min-height: 100%;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.index-body{
  padding-top: 0!important;
  position: relative;
  margin: 0;
  padding-bottom: 12rem;
  min-height: 100%;
}

a {
  color: #F05F40;
}

.splash {

  height: 600px;
  background-image: url("/img/pexels-photo-132924.jpeg");
  background-position: center;
  background-size: cover;


}

.splash-opacity{
  height: 600px;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.splash h1 {
  text-align: center;
  color: white;
}

.splash h4 {
  text-align: center;
  color: white;
  line-height: 150%;
}

.half-rule {
  margin: auto;
  text-align: center;
  border: none;
  height: 4px;
  background-color: #ffffff;
  width: 10%;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6rem;
  text-align: center;
  background-color: #f3f3f3;

}

.top-picks {
  margin-top: 3em;
}


/*.navbar {
height: 70px;
background-color: #68568B;
border-color: #68568B;
padding-top: 10px;
color: white;
}

.navbar .navbar-brand:hover {
color: #FA7D33;
}
.navbar .navbar-nav>li>a:hover {
color: #FA7D33;
background-color: #68568B;
}

.navbar .navbar-brand  {
color: white;
font-weight: bold;
}*/

/*.navbar-inverse {
background-color: white;
border-color: #ff7575;
}

.navbar-inverse .navbar-brand:hover {
color: red;
}
.navbar-inverse .navbar-nav>li>a:hover {
color: red;
}

.navbar-inverse .navbar-brand  {
color: red;
font-weight: bold;
}*/

/*#navbar ul > li :hover {
--webkit-transition: box-shadow linear .1s;
-moz-transition: box-shadow linear .1s;
transition: box-shadow linear .1s;
-webkit-box-shadow: 0 0.2em red;
-moz-box-shadow: 0 0.2em red;
box-shadow: 0 0.2em red;
}*/

.red {
  color: #F05F40;;
}

.jumbotron {
  background-color: transparent; /* removing default color */
}


.btn-primary {
  /*background-color: red;
  border-color: #a94442;*/
  padding: 20px;
}

.box-padding{
  padding: 20px;
}

.content-padding{
  padding: 1px 30px;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*NAVBAR*/

.navbar{
  /*background-color: #F05F40;
  border-color: #F05F40;
  color: white;*/
  background-color: #ffffff;
  padding: 10px 0;
}


.navbar-brand {
  position: relative;
  z-index: 2;
  font-weight: bold;
  color: #F05F40!important;
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
  transition: transform 0.3s;
}

.btn.btn-circle {
  border-radius: 50px;
}

.btn.btn-outline {
  background-color: transparent;
}

.carousel-indicators li {
  border: 1px solid #F05F40;
}

.carousel-indicators .active {
  background-color: #F05F40;
}

.carousel-control {
  color: #F05F40;
  width: 10%;
}

.carousel-control:focus, .carousel-control:hover {
  color: #F05F40;
}

.card-content {
  height: 240px;
}

.card .progress {
  height: 5px;
}

.card .progress-bar {
  background-color: #F05F40;
}

.card .panel-footer {
  background-color: transparent;
}

.panel-footer .table {
  margin-bottom: 0px;
}